@model List<Blog>
@{
    int delay = 100;
}
<section class="ftco-section bg-light">
    <div class="container-xl">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center" data-aos="fade-up" data-aos-duration="1000">
                <span class="subheading">Our Blog</span>
                <h2>Recent Blog</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var bl in Model)
            {
                <div class="col-md-3 d-flex">
                    <div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="@delay">
                        <a href="blog-single.html" class="block-20 img d-flex align-items-end" style="background-image: url('@bl.ImageUrl1');">
                        </a>
                        <div class="text">
                            <p class="meta"><span>Admin</span> <span>Dec. 01, 2020</span><a href="#">@bl.Comments.Count</a></p>
                            <h3 class="heading mb-3"><a href="#">@bl.Title1 - @bl.Title2</a></h3>
                            <p>@bl.Description1</p>
                        </div>
                    </div>
                </div>
                delay = delay + 100;
            }
        </div>
    </div>
</section>