@model List<Agent>
@{
    int delay = 100;
}
<section class="ftco-section ftco-agent ftco-no-pb">
    <div class="overlay"></div>
    <div class="container-xl">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section heading-section-white" data-aos="fade-up" data-aos-duration="1000">
                <span class="subheading">Meets Our Agents</span>
                <h2 class="mb-4">Our Agents</h2>
            </div>
        </div>
        <div class="row">
            @foreach(var ag in Model){
            <div class="col-md-3" data-aos="fade-up" data-aos-delay="@delay" data-aos-duration="1000">
                <div class="agent">
                    <div class="img">
                        <img src="@ag.ProfileImage" class="img-fluid" alt="Colorlib Template">
                    </div>
                    <div class="desc">
                        <p class="h-info"><span class="position">Listing</span> <span class="details">@ag.Properties.Count</span></p>
                        <h3><a href="properties.html">@ag.FirstName @ag.LastName</a></h3>
                        <ul class="ftco-social">
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                </div>
                delay = delay + 100;
            }          
        </div>
    </div>
</section>